body {
    margin: auto;
    overflow: visible;
}

.list-border{

    padding:5px;
    border-bottom:1px solid lightgray;
}
.text{
    color:green;
    font-width:bold;
    float:left;
    padding-left:10px;
}
.business-img{
    float:left;
    padding-left:10px;
}

.product-list{
       display:inline-block;
    margin-top:2px;



}
.social-btn{
    float:left;
    padding-left:100px;
    color:red;
}

.thumbnail-custom {
    margin-bottom: 10px;
    z-index: 10;
    position: fixed;
    top : 0px;
    left : 0px;
    width : 50px;
    height : auto;
}

div.col-1-business,
div.col-2-business,
div.col-3-business {
	float: left;
    position: relative;
    height: auto;
    margin-left: 5px;
    margin-bottom: 20px;    
}

.corner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    margin-top: 2px;
    margin-right: 2px;
    z-index: 10;
}
div.lightbox-adds {
	display: block;
	position: absolute;
	z-index: 998;
	width: 100%;
	height: 45px;
	text-align: center;
	bottom: 0;
	left: 0;
	z-index: 9;
	background: rgba(0,0,0,0.8);
}
div.lightbox {
	display: block;
	position: absolute;
	z-index: 998;
	width: 100%;
	height: 100px;
	text-align: center;
	top: 0;
	left: 0;
	z-index: 9;
	background: rgba(0,0,0,0.8);
}
.lightbox-message {
	display: block;
	z-index: 999;	
	text-align: center;
	position: absolute;
	padding: 20px;
	top: 35%;
  	left: 30%;	
    width: 40%;
    height: auto;
	background: white;
	color : blue;
	border-radius: 10px;
}

img.prod-image {
	z-index : 1;
	width : 380px;
	height : 380px;
	background-size: 180px 180px;
}

img.item-image {
	float:left;
    width: 320px;
    height: auto;
}

/* Header starts */
div.main-content {
	clear: both;
	float: left;
	height: auto!important;
	width: 100%;
	overflow: visible;	
	margin: 20px 0 20px 0;
}

#header {
	clear: both;
	float: left;
	background-color: #FFF;
	width : 100%;
	height: 50px;
	border-bottom: 1px solid #888;
}

.container_12, .container_16 {	
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    max-width: 1160px;
    overflow: visible;
}
#logo {
    margin-top: 10px;
}
.container_12 .grid_2 {
    width: 140px;
    max-width: 140px;
}
.container_12 .grid_16 {
    float : right;
}

.alpha {
    margin-left: 0px;
}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

h1.heading-text {
	line-height: 1;
    margin: 0px;
    font-weight: normal;
    color: #4B9123;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin: 0px;
    font-weight: normal;
    color: #4B9123;
}
h1 {
    font-size: 2.357em;
    margin-bottom: 20px;
}

/* Header ends */

/* Google map starts */
#content_title {
    margin : 0px 0 10px 0px;
    width: 640px;
    position: absolute;
	z-index: 2000;
}
#content_title h1 {
    font-family: "Museo Slab 500",Rockwell,Georgia,serif;
    font-weight: 500;
    font-size: 2.357em;
    margin-bottom: 0px;
}
.container_12 .grid_5 {
    width: 320px;
    max-width: 380px;
}
#map { height: 250px;  margin: auto;}

/* Google map ends */

div.clean-left {
	clear : both;
	float : left;
}

clean-right {
	clear : both;
	float : left;
}
div.content-map-bar,
div.content-menu-bar {
	width :100%;
	height: auto;
	z-index : 2000;
	overflow: visible;
	
}
div.content-row {
	/* background:
    url(logo.png) bottom center no-repeat,
    url(background-pattern.png) repeat; */
    /* background: url(../image/2_0.jpg) repeat;  */
    overflow: visible;
}

div.lightbox h2 {
    font-family: "Proxima Nova Regular",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 1.4286em;
    font-size-adjust: 0.488;
    font-weight: 400;
    margin-top: 10px;
}


div.lightbox h3 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1.2em;
    color: white;
}


div.item-adds {
	position: absolute;
	bottom: 10px;
	left : 10px;
}
div.item-adds h2 a,
div.item-adds h2 {
	margin: 5px;	
}



.search-box {
    /* border: 1px solid red; */
    width: 300px;
    height: 35px;
    background-color: #fff;
    /* margin: 5px 7px; */
    border: 1px solid #cfcfcf;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    display: inline;
    float: left;
    /* margin-right: 40px; */
    margin-top: 5px;
}

.search-box img.search-icon {
    /* margin: 8px 0 0 5px; */
    float: left;
    height: 30px;
    width: 30px;
    padding: 6px;
}

.search-box input {
    border: 1px solid #008000;
    border: none;
    height: 32px;
    width: 230px;
    /* margin: 0; */
    position: absolute;
    font-size: 16px;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
    float: left;
}


input {
    -webkit-appearance: textfield;
    padding: 1px;
    background-color: white;
    border: 2px inset;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
}

input, textarea, keygen, select, button {
    margin: 0em;
    font: 11px '.HelveticaNeueDeskInterface-Regular';
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}

.search-box img.search-close {
    /* margin: 8px 0 0 5px; */
    float: right;
    height: 30px;
    width: 30px;
    padding: 6px;
}
ul.horizontal-ul {
	list-style: desc;
	list-style-position: none;
	display: block!important;
	position: static!important;
}
/* CSS menu */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
#cssmenu {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: left;
  z-index: 999;
  overflow: visible;
  position: relative;
  margin: 15px 0 20px 650px;
}
#cssmenu > ul {
  width: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #ffffff;
  /* border: 1px solid #ece6e8; */
  /* border-bottom: 3px solid #d9ced2; */
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
#cssmenu > ul li#responsive-tab {
  display: none;
  /* Hide for large screens */

}
#cssmenu > ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#cssmenu > ul li.right {
  float: right;
}
#cssmenu > ul li.has-sub {
  position: relative;
}
#cssmenu > ul li.has-sub:hover ul {
  display: block;
}
#cssmenu > ul li.has-sub ul {
  display: none;
  width: 250px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ffffff;
  border: 1px solid #ece6e8;
  border-bottom: 3px solid #d9ced2;
  border-top: 0 none;
}
#cssmenu > ul li.has-sub ul li {
  display: block;
}
#cssmenu > ul li.has-sub > a {
  background-image: url('/resources/image/caret.png');
  background-repeat: no-repeat;
  background-position: 90% -95%;
}
#cssmenu > ul li.has-sub > a.active,
#cssmenu > ul li.has-sub > a:hover {
  background: #4B9123 url('/resources/image/caret.png') no-repeat;
  background-position: 90% 195%;
}
#cssmenu > ul li a {
  display: block;
  padding: 12px 24px 11px 24px;
  text-decoration: none;
  color: #747474;
  text-shadow: 0px 1px 0px #fff;
}
#cssmenu > ul li a.active,
#cssmenu > ul li a:hover {
  background: #4B9123;
  color: #fff;
  text-shadow: 0px 1px 0px #000;
}
@media (max-width: 600px) {
  #cssmenu > ul {
    width: 100%;
  }
  #cssmenu > ul li#responsive-tab {
    display: block;
  }
  #cssmenu > ul li#responsive-tab a {
    background: url('/resources/image/menu.png') no-repeat;
    background-position: 95% -35%;
  }
  #cssmenu > ul li#responsive-tab a:hover {
    background-color: #4B9123;
    background-position: 95% 135%;
  }
  #cssmenu > ul li {
    display: none;
  }
  #cssmenu > ul li.right {
    float: none;
  }
  #cssmenu > ul li.has-sub {
    position: relative;
  }
  #cssmenu > ul li.has-sub ul {
    display: block;
    position: static;
    width: 100%;
    background: #ffffff;
    border: 0 none;
  }
  #cssmenu > ul li.has-sub ul li {
    display: block !important;
  }
  #cssmenu > ul li.has-sub ul li a span {
    display: block;
    padding-left: 24px;
  }
  #cssmenu > ul li.has-sub > a {
    background-image: none;
  }
}
/* Make sure they show even if hidden in mobile view by JS */
@media (min-width: 600px) {
  #cssmenu > ul > li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
  #cssmenu > ul ul li.collapsed {
    display: block !important;
  }
}

/* CSS menu */


/*Copy right styles starting*/
.footer_copyright {
    background: url("/resources/image/footer/copy-right-bg-icon.png") repeat-x scroll 0 0;;
    /*background: none repeat scroll 0 0 #ECECEC;*/
    height: 57px;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: baseline;
    color: #ffffff;
    padding-top: 20px;
    font-size: 12px;
    clear: both;

}

.footer_copyright a {
    color: #ffffff;
}

/*Copy right styles ending*/