body {
    margin: auto;
    overflow: visible;
}

.list-border{

    padding:5px;
    border-bottom:1px solid lightgray;
}
.text{
    color:green;
    font-width:bold;
    float:left;
    padding-left:10px;
}
.business-img{
    float:left;
    padding-left:10px;
}

.product-list{
       display:inline-block;
    margin-top:2px;



}
.social-btn{
    float:left;
    padding-left:100px;
    color:red;
}

.thumbnail-custom {
    margin-bottom: 10px;
    z-index: 10;
    position: fixed;
    top : 0px;
    left : 0px;
    width : 50px;
    height : auto;
}

div.col-1-business,
div.col-2-business,
div.col-3-business {
	float: left;
    position: relative;
    height: auto;
    margin-left: 5px;
    margin-bottom: 20px;    
}

.corner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    margin-top: 2px;
    margin-right: 2px;
    z-index: 10;
}
div.lightbox-adds {
	display: block;
	position: absolute;
	z-index: 998;
	width: 100%;
	height: 45px;
	text-align: center;
	bottom: 0;
	left: 0;
	z-index: 9;
	background: rgba(0,0,0,0.8);
}
div.lightbox {
	display: block;
	position: absolute;
	z-index: 998;
	width: 100%;
	height: 100px;
	text-align: center;
	top: 0;
	left: 0;
	z-index: 9;
	background: rgba(0,0,0,0.8);
}
.lightbox-message {
	display: block;
	z-index: 999;	
	text-align: center;
	position: absolute;
	padding: 20px;
	top: 35%;
  	left: 30%;	
    width: 40%;
    height: auto;
	background: white;
	color : blue;
	border-radius: 10px;
}

img.prod-image {
	z-index : 1;
	width : 380px;
	height : 380px;
	background-size: 180px 180px;
}

img.item-image {
	float:left;
    width: 320px;
    height: auto;
}

/* Header starts */
div.main-content {
	clear: both;
	float: left;
	height: auto!important;
	width: 100%;
	overflow: visible;	
	margin: 20px 0 20px 0;
}

#header {
	clear: both;
	float: left;
	background-color: #FFF;
	width : 100%;
	height: 50px;
	border-bottom: 1px solid #888;
}

.container_12, .container_16 {	
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    max-width: 1160px;
    overflow: visible;
}
#logo {
    margin-top: 10px;
}
.container_12 .grid_2 {
    width: 140px;
    max-width: 140px;
}
.container_12 .grid_16 {
    float : right;
}

.alpha {
    margin-left: 0px;
}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin: 0px;
    font-weight: normal;
    color: #4B9123;
}
h1 {
    font-size: 2.357em;
    margin-bottom: 20px;
}

/* Header ends */

/* Google map starts */
#content_title {
    margin : 20px 0 20px 0px;
}
#content_title h1 {
    font-family: "Museo Slab 500",Rockwell,Georgia,serif;
    font-weight: 500;
    font-size: 2.357em;
    margin-bottom: 0px;
}
.container_12 .grid_5 {
    width: 380px;
    max-width: 380px;
}
#map { height: 250px;  margin: auto;}

/* Google map ends */

clean-left {
	clear : both;
	float : left;
}

clean-right {
	clear : both;
	float : left;
}
div.content-row {
	/* background:
    url(logo.png) bottom center no-repeat,
    url(background-pattern.png) repeat; */
    /* background: url(../image/2_0.jpg) repeat;  */
    overflow: visible;
}

div.lightbox h2 {
    font-family: "Proxima Nova Regular",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 1.4286em;
    font-size-adjust: 0.488;
    font-weight: 400;
    margin-top: 10px;
}


div.lightbox h3 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1.2em;
    color: white;
}


div.item-adds {
	position: absolute;
	bottom: 10px;
	left : 10px;
}
div.item-adds h2 a,
div.item-adds h2 {
	margin: 5px;	
}

